# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media files (فایل‌های آپلودشده توسط کاربران نباید در گیت بروند)
media/

# Static collected (فایلی که از collectstatic ساخته می‌شود)
staticfiles/

# Environment variables
.env
.env.local

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Pytest / coverage
.cache
.pytest_cache/
htmlcov/
.coverage
.coverage.*